.home-link {
            position: fixed;
            top: 10%;
            right: 10px;
            background-color: #04556D;
            color: yellow;
            padding: 10px 15px;
            text-decoration: none;
            border-radius: 5px;
            z-index: 1100; /* Ensures it stays on top */
        }
        .home-link:hover {
            background-color: #CCFAFA;
            color: #A0A0D0;
        }

.home-link1 {
            position: fixed;
            top: 25%;
            right: 10px;
            background-color: #04556D;
            color: yellow;
            padding: 10px 15px;
            text-decoration: none;
            border-radius: 5px;
            z-index: 1100; /* Ensures it stays on top */
        }
        .home-link:hover {
            background-color: #CCFAFA;
            color: #A0A0D0;
        }

h2 {

}

table {
  border-collapse: collapse;
  width: 94%;
  font-family:Lato;


}

img.port {
    min-width:150;
    max-width:270;
        min-height:50;
   max-height:120;
   border:none;

}

tr:hover {background-color: #D6EEEE;}

th:nth-child(even),td:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);

}

* {
  box-sizing: border-box;
}

table th {
  text-align: center;



}
table td {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis
}

div{
    font-family:Lato;
}

section {
    font-family:Lato;
}

p{
    font-family:Lato;
}

a{
    font-family:Lato;
    font-size:auto;
    font-weight:bold;
}

body {
  font-family: Lato, century gothic , sans-serif; Tahoma, sans-serif;script;
  background-color:#555555;
}

/* Style the header */
header {
  background-color: #666;
  padding: 5px;
  text-align: left;
  font-size: auto;
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-left:5%;
  padding-right:7%;
  }

th{
  text-align: center;
  padding: 2px;

}



.left {
  float: left;
  width: 120px;
  background: #ccc;
  padding-right: 20px;
  padding-left:10%;
}

p {
  opacity: 1;
  background-color:#d9fc99;
  color:#333333;
}
/* Create two columns/boxes that floats next to each other */


img {

  max-width: 94%;
  min-width: 180px;
  max-height:320px;
  background: #ccc;
  padding-left: 0px;
  padding-bottom: 0px;
  }

.bi {
  width:auto;
  max-height:1600px;
  background: #ccc;
  padding-left: 0px;
  padding-bottom: 0px;
  }

.bbi {
  width:auto;
  max-height:1600px;
  background: #ccc;
  padding-left: 0px;
  padding-bottom: 0px;
  }

.bbii {
  width:auto;
  max-height:1600px;
  background: #ccc;
  padding-left: 0px;
  padding-bottom: 0px;
  }

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  padding-right: 10%;
  padding.left:5%;
  text-align: justify;
  float: left;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}



/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of
each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article, p, caption {
    width: 94%;
    height: auto;
  }
}


.navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #00333;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 11px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.navbar a.active:hover {
  background-color: #0000ee;
  color: black;
}

.content {
            padding: 10px 10px;
        }




.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

a.button {

        padding: 1px 6px;
        display: block;
        display: inline-block;
    border: 2px outset buttonborder;
    border-radius: 3px;
    color: green;
    background-color: buttonface;
    text-decoration: none;
}

h1{
    font-family:Lato;
}



